@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    cursor:grab;
}

body {
    background-color: rgb(29, 29, 29);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100%;
    padding: 30px 7%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo, .logo span {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideright 1.3s ease forwards;
}

/* .navbar{
    opacity: 0;
    animation: slideright 1.3s ease forwards;
} */

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 23px;
    font-size: 18px;
    /* margin-left: 30px; */
    font-weight: 500;
    border-radius: 5px;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

/* 
.navbar a:hover {
  
} */

a.homei:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(80, 162, 239);
    /* border-radius: 5px; */
    box-shadow: 1px 1px 11px rgb(80, 162, 239);
    /* box-shadow: -5px -5px 11px rgb(80, 162, 239); This is for to up or move top the shadow of the box or element. */
    transition-duration: 0.4s;
}

a.education:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(224, 72, 64);
    /* border-radius: 5px; */
    box-shadow: 0 0 11px rgb(224, 72, 64);
    transition-duration: 0.3s;
}

a.experience:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(168, 224, 64);
    /* border-radius: 5px; */
    box-shadow: 1px 1px 11px rgb(168, 224, 64);
    transition-duration: 0.3s;
}

a.project:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(229, 65, 164);
    /* border-radius: 5px; */
    box-shadow: 1px 1px 11px rgb(229, 65, 164);
    transition-duration: 0.3s;
}

a.contact:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 197, 51);
    /* border-radius: 5px; */
    box-shadow: 1px 1px 11px rgb(64, 240, 94);
    transition-duration: 0.3s;
}

a.enquiry:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(197, 197, 18);
    /* border-radius: 5px; */
    box-shadow: 1px 1px 11px rgb(214, 214, 19);
    transition-duration: 0.3s;
}

.home {
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* gap: 2rem; */
    padding: 0 7%;
    /*padding:70px 7% 0; */
    /* margin-top: 6%;  */
    /* background-color: #fff; */
    
}

.home-content {
    /* max-width: 600px; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;

}

.home-content h3 {
    font-size: 35px;
    font-weight: 700;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: .7s;
    /* color: rgb(141, 141, 141); */
}

.home-content h3:nth-of-type(2) {
    /* margin-bottom:px; */
    color: rgb(141, 141, 141);

    animation: slidetop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    /* color: rgb(227, 64, 95); */
    color: rgb(141, 141, 141);


}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -5px 0;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: 1s;
    color: rgb(227, 64, 95);
}

.home-img{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    /* display: flex; */
    /* margin: auto; */
    /* justify-content: center; */
    text-align: center ;
    
}
.home-img img {
  
    /* margin-right: -20px; */
    max-width: 450px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 3s ease-in-out infinite;
    animation-delay: 2s, .1s;
  
}

.social-media a {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 45px;
    height: 45px;
    font-size: 30px;
    /* background-color: rgb(201, 30, 30); */
    text-decoration: none;
    border-radius: 50%;
    margin: 20px 15px 30px 0;
    color: #fff;
    transition: .4s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
    background-color: rgb(227, 64, 95);
}

.social-media a:hover {
    background-color: rgb(227, 64, 95);
    box-shadow: 0 0 25px rgb(227, 64, 95);
    /* transition: .3s; */
}

.btn {
    text-decoration: none;
    display: inline-block;
    background: rgb(227, 64, 95);
    color: #fff;
    padding: 12px 28px;
    border-radius: 5px;
    font-size: large;
    font-weight: 600;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover {
    box-shadow: 4px 4px 11px rgb(227, 64, 95);
    transition: .3s;
}

footer {
    margin: 19px 0;
    text-align: center;
    opacity: 0;
    animation: popup 2s ease forwards;
}






/* KEYFRAMES ANIMATION */
@keyframes slideright {
    0% {
        transform: translatex(-100px);
        opacity: 0;
    }

    100% {
        transform: translatex(0);
        opacity: 100;
    }
}

@keyframes slideleft {
    0% {
        transform: translatex(100px);
        opacity: 0;
    }

    100% {
        transform: translatex(0);
        opacity: 100;
    }
}

@keyframes slidetop {
    0% {
        transform: translatey(100px);
        opacity: 0;
    }

    100% {
        transform: translatey(0);
        opacity: 1;
    }
}

@keyframes slidebottom {
    0% {
        transform: translatey(-100px);
        opacity: 0;
    }

    100% {
        transform: translatey(0);
        opacity: 100;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes popup{
    0%{
        transform : scale3d(0);
        opacity: 0;
    }
    100%{
        transform:scale3d(1)  ;
        opacity:1;
    }
}
